---
// const logo =
---

<header class="bg-secondary p-4">
  <p class="text-primary">TOEZBIT</p>
</header>

<!-- <pre>
                                                          
        ████████╗ ██████╗ ███████╗███████╗██████╗ ██╗████████╗ 
        ╚══██╔══╝██╔═══██╗██╔════╝╚══███╔╝██╔══██╗██║╚══██╔══╝ 
           ██║   ██║   ██║█████╗    ███╔╝ ██████╔╝██║   ██║    
           ██║   ██║   ██║██╔══╝   ███╔╝  ██╔══██╗██║   ██║    
           ██║   ╚██████╔╝███████╗███████╗██████╔╝██║   ██║    
           ╚═╝    ╚═════╝ ╚══════╝╚══════╝╚═════╝ ╚═╝   ╚═╝    
                                                          
    </pre> -->
