---
import { Icon } from "astro-icon/components";
---

<div class="grid place-items-center mt-18">
  <pre
    class="text-primary">                                       
        ████████╗ ██████╗ ███████╗███████╗██████╗ ██╗████████╗ 
        ╚══██╔══╝██╔═══██╗██╔════╝╚══███╔╝██╔══██╗██║╚══██╔══╝ 
           ██║   ██║   ██║█████╗    ███╔╝ ██████╔╝██║   ██║    
           ██║   ██║   ██║██╔══╝   ███╔╝  ██╔══██╗██║   ██║    
           ██║   ╚██████╔╝███████╗███████╗██████╔╝██║   ██║    
           ╚═╝    ╚═════╝ ╚══════╝╚══════╝╚═════╝ ╚═╝   ╚═╝    
                                                          
    </pre>
  <div class="w-1/2 flex flex-col gap-8">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4 text-text-primary">
        <Icon name="file" />
        <p>{">"}</p>

        <a href="/blog">Go to blog</a>
      </div>
      <div class="text-success">
        <p>gb</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4 text-text-primary">
        <Icon name="folder" />
        <p>{">"}</p>
        <p>Toggle file explorer</p>
      </div>
      <div class="text-success">
        <p>SPC ee</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4 text-text-primary">
        <Icon name="file-sad" />
        <p>{">"}</p>
        <p>Find File</p>
      </div>
      <div class="text-success">
        <p>SPC ff</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4 text-text-primary">
        <Icon name="search" />
        <p>{">"}</p>
        <p>Find Word</p>
      </div>
      <div class="text-success">
        <p>SPC fs</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4 text-text-primary">
        <Icon name="restore" />
        <p>{">"}</p>
        <p>Go to the help page</p>
      </div>
      <div class="text-success">
        <p>SPC hh</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-4 text-text-primary">
        <Icon name="quit" />
        <p>{">"}</p>
        <p>Quit Blog</p>
      </div>
      <div class="text-success">
        <p>qb</p>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  let keyPress = "";
  let timeoutId;

  window?.addEventListener("keydown", (e) => {
    keyPress += e.key.toLowerCase();

    if (keyPress === "gb") {
      window.location.href = "/blog";
    }

    if (keyPress === "qb") {
      window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
    }

    if (keyPress === " hh") {
      window.location.href = "/blog/help";
    }

    if (keyPress === " ee") {
      const leftSideBar = document.getElementById("leftSidebar");
      onToggleSidebar(leftSideBar);
      keyPress = "";
    }

    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      keyPress = "";
    }, 1000);
  });
</script>
