---
import { Icon } from "astro-icon/components";
import { type CollectionEntry, getCollection } from "astro:content";
import { cn } from "../lib/cn";

const posts = await getCollection("blog");

const splitPath = Astro.url.pathname.split("/");
const currentBlog = splitPath[splitPath.length - 1];
---

<nav class="bg-[#023047] p-4 w-60 overflow-x-scroll whitespace-nowrap">
  <nav class="flex items-center">
    <p class="text-menu-label">0</p>
    <p class="text-menu-icon">&nbsp;~/toezbit.dev</p>
  </nav>
  <div class="flex items-center">
    <p class="text-menu-label">1&nbsp;</p>
    <p class="text-menu-label">&nbsp;</p>
    <Icon name="folder" class="text-menu-icon" />
    <p class="text-menu-icon">&nbsp;src</p>
  </div>
  <div class="flex items-center">
    <p class="text-menu-label">2&nbsp;</p>
    <p class="text-menu-label">&nbsp;&nbsp;&nbsp;</p>
    <Icon name="folder" class="text-menu-icon" />
    <p class="text-menu-icon">&nbsp;blog</p>
  </div>
  {
    posts.map((el) => {
      return (
        <a href={`/blog/${el.slug}`}>
          <div
            class={cn(
              "flex items-center cursor-pointer",
              el.slug === currentBlog && "bg-accent"
            )}
          >
            <p class="text-menu-label">3&nbsp;</p>
            <p class="text-menu-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <span>
              <Icon name="file-type-tsx" class="text-menu-icon" />
            </span>
            <p class="text-menu-icon">&nbsp;{el.id}</p>
          </div>
        </a>
      );
    })
  }
</nav>
