---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ToEzBit Blog</title>
  </head>
  <body class="bg-background flex flex-col">
    <div class="flex flex-1 overflow-hidden">
      <LeftSidebar defaultOpen={false} />
      <div class="flex-1 overflow-y-auto max-h-screen">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "NerdFont", sans-serif;
    font-weight: 400;
  }
</style>

<script is:inline src="/toggle-sidebar.js"></script>

<script is:inline>
  let keyPress = "";
  let timeoutId;

  window?.addEventListener("keydown", (e) => {
    keyPress += e.key.toLowerCase();

    if (keyPress === "gb") {
      window.location.href = "/blog";
    }

    if (keyPress === "qb") {
      window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
    }

    if (keyPress === " hh") {
      window.location.href = "/blog/help";
    }

    if (keyPress === " ee") {
      const leftSideBar = document.getElementById("leftSidebar");
      onToggleSidebar(leftSideBar);
      keyPress = "";
    }

    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      keyPress = "";
    }, 1000);
  });
</script>
